<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="RestApiHost" value="https://lightupon.cloud" />
        <add key="SyncFromServerIntervalInMinutes" value="4" />
        <add key="SecondsToCacheServerList" value="2" />
        <add key="SentryDsn" value="https://0f00e946cbaa47dab33ce38e6a113825@sentry.io/1367787" />
        <add key="UpdateUrl" value="https://lightupon.cloud/media/release/update.xml" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>